@model IEnumerable<MBran.Models.NavigationListNested>

@if (Model != null && Model.Any())
{
    <ul class="nav-footer">
    @foreach (var nav in Model)
    {
        <li>
            <span>@nav.NavigationListTitle</span>
            <ul class="nav-footer-sub">
                @foreach (var item in nav.NavigationListItems)
                {
                    <li><a href="@item.Url" target="@item.Target">@item.Name</a></li>
                }
            </ul>
        </li>
    }
    </ul>
}
