<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @(Html.Component<FaviconComponent>())
    @(Html.Component<MBran.Component.MetaHeader.MetaTitleComponent>())
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
