@model MBran.Models.ContentModule
@using MBran.Components.Extensions

@if (Model != null && Model.ContentModuleComponents != null)
{
    <div>this is a content module</div>
    foreach (var component in Model.ContentModuleComponents)
    {
        @Html.Component(component)
    }
}

